# Operating system files
.DS_Store
Thumbs.db
Desktop.ini

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Editors / IDEs
.vscode/
.idea/

# Temporary files
*~
*.tmp
*.swp